

.titulo{
    margin-top: 20px;
}

body{

display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.buscar{
    padding: 14px 80px;
    text-align: center;
    margin-top: 10px;
    border-radius:5px;
    border: 1px solid white;
    outline: none;
    color: white;
    font-size: 25px;
    background-color: #B1C29E;
    position: relative;
    bottom: 30px;
    
}
.buscar::placeholder{
    color: white;
}

.pesquisa{
height: 500px;
margin-top: 20px;
padding: 30px;
border-radius: 5px;
background-color: #B1C29E;
padding-right: 200px;
padding-left: 200px;

}

.botaoNewCad button{

    color: white;
    background-color: rgba(118, 118, 118, 0.303);;
    padding: 14px 16px;
    border-radius: 5px;
    position: relative;
    float: right;
    right: 100px;
    top: 18px;
    border: 1px solid white;
}